@using TerminalArchive.WebUI.Models
@using TerminalArchive.WebUI.HtmlHelpers
@model TerminalsListViewModel

@{
    ViewBag.Title = "Терминалы";
    ViewBag.User = User?.Identity?.Name;
}

<div class="well">
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Название терминала</th>
            <th scope="col">Номер группы</th>
            <th scope="col">Группа</th>
            <th scope="col">Адрес</th>
            <th scope="col">Hasp id</th>
            <th scope="col">Заказы</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var t in @Model.Terminals)
        {
            @Html.Partial("TerminalSummary", t)
        }
        </tbody>
    </table>

    <div class="btn-group pull-right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
    </div>
</div>

